.edit__profile {
  flex: var(--middlewidth);
  border-right: 1px solid var(--background);
  flex-flow: column;
  /* min-width: fit-content; */
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.profile::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.profile {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.profile__your {
  margin-left: 245px;
}
.profile__principal {
  margin-left: 60px;
  margin-bottom: 30px;
}
.signup__form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto !important;
}
.submit__button {
  margin: 0 auto !important;
}
.signup__input {
  width: 500px;
}
