.Login_LoginButton {
  background: linear-gradient(120deg, #2980b9, #8e44ad) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 166px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
  /* boxshadow: "0 3px 5px 2px rgba(255, 105, 135, .3)" !important; */
}
