.login {
  background-image: url(../../assets/avatar-1.png) !important;
  background-size: 100% 50% !important;
  background-repeat: no-repeat !important;
  background-position: 0% 100% !important;
  background-attachment: fixed !important;
  width: 100%;
  height: 100%;
}
.login_position {
  width: 300px !important;
  height: 70px !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto !important;
}
.Login_LoginButton {
  background: linear-gradient(120deg, #2980b9, #8e44ad) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: x-large !important;
  text-transform: inherit !important;
  border-radius: 50px !important;
  height: 70px !important;
  width: 300px;
  /* boxshadow: "0 3px 5px 2px rgba(255, 105, 135, .3)" !important; */
}
