.post__page {
  flex: var(--middlewidth);
  border-right: 1px solid var(--background);
  flex-flow: column;
  overflow-y: scroll;
}
.post__page__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--background);
  padding: 5px 15px 5px 15px;
}
.post__page__header > h2 {
  font-size: 20px;
  font-weight: 800;
}
.post__page__input {
  border-bottom: 1px solid coral;
}
.post__page__avatar {
}
