.profile {
  flex: 0.59;
  border-right: 1px solid var(--background);
  flex-flow: column;
  min-width: fit-content;
}
.profile__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--background);
  padding: 5px 15px 5px 15px;
}
.profile__header > h2 {
  font-size: 20px;
  font-weight: 800;
}
.profile__banner {
  position: absolute;
  width: 711.9px;
  height: 210px;
}
.profile__avatar {
  position: relative;
  top: 158px;
  left: 40px;
}
.profile__editposition {
  position: relative;
  top: 90px;
  left: 560px;
  z-index: 100;
}
.profile__editbutton {
  background-color: var(--backgroundcolor) !important;
  color: var(--twitter-color) !important;
  border: solid var(--twitter-color) !important;
  border-width: thin !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 105px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}
.profile__displaynameposition {
  position: relative;
  top: 40px;
  left: 170px;
}
.profile__displayname {
}
.profile__descriptionposition {
  position: relative;
  top: 25px;
  left: 170px;
}
.profile__description {
  font-weight: lighter;
}
