.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  float: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.feed__load {
  margin-left: 42%;
}
.feed__load__button {
}
