.sidebar {
  border-right: 1px solid var(--background);
  flex: 0.21;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-right: 50px;
}
.sidebar__link {
  text-decoration: none;
  color: inherit;
}
.link__active {
}
/* .sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
} */
