body {
  --twitter-color: rgb(15, 20, 25);
  --twitter-background: #eff3f7;
  --acolor: rgb(15, 20, 25);
  --background: rgb(239, 249, 243);
  --graycolor: rgb(205, 214, 214);
  --middlewidth: 0.5;
  background-color: rgb(255, 255, 255);
}

.app {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
